<%= render 'layouts/sidebar2' %>
<div class="container-fluid">
<div id="pins" class="transitions-enabled">
  <% @klick.each do |k| %>
   <%= link_to k.image.url(:large), :class => 'fancybox', :rel => 'group' do %>
    <div class="box">
        <%= image_tag k.image.url(:large) %>
       <% if logged_in? && current_user.admin %>
          <%= link_to 'EDIT', edit_klick_path(k), :id => "editpins" %>
          <%= link_to 'DELETE', k, method: :delete,  data: { confirm: 'Are you sure?' }, :id => "editpins" %>
        <% end %>
    </div>
    <% end %>
  <% end %>
</div>
</div>

